<div class="details" xmlns="http://www.w3.org/1999/html">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span><i class="fa fa-film"></i> Details</span>
        </div>
        <div class="panel-body">
            <div class="content">
                <div class="title"><b>Title : </b>{{model.movie.title}}</div>
                <div class="rating"><b>Rating : </b> {{model.movie.rating}}</div>
                <div class="length"><b>Length : </b>{{model.movie.length}}</div>
            </div>
        </div>
    </div>
</div>